{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}CuisineCalendar{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>CuisineCalendar</h1>
  </header>

  <nav>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'recipe_list' %}">Recipes</a>
    <a href="{% url 'plan_list' %}">Meal plans</a>
    <a href="{% url 'logout' %}">Log Out</a>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    &copy; 2023 CuisineCalendar
  </footer>
</body>
</html>
