{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}CuisineCalendar{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <a href="#" class="brand brand-logo">
        <img src="{% static 'image/logo5_transparent.png' %}" alt="Sample website logo">
    </a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'plan_list' %}">Plans</a>
    <a href="{% url 'recipe_list' %}">Recipes</a>
    <a href="{% url 'password_reset' %}">Reset Password</a>
    <a href="{% url 'logout' %}"><button>Log Out</button></a>


  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    &copy; 2023 CuisineCalendar
  </footer>
</body>
</html>




