{% extends 'base.html' %}

{% block content %}
    <!-- Heading for the list of recipes -->
    <h1>List of meal plans</h1>

    <!-- Displaying all the plan as cards in a grid -->
    <div class="row">
        {% for plan in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Displaying plan day and meal type -->
                    <div class="card-body">
                        <h2 class="card-title">{{ plan.day_of_week }} - {{ plan.meal_type }}</h2>
                        <h3 class="card-text">{{ plan.recipe }}</h3>
                        <!-- Link to view recipe details -->
                        <a href="{% url 'recipe_detail' plan.recipe.id %}" class="btn btn-primary">📜View recipe</a>
                        <a href="{% url 'plan_detail' plan.id %}" class="btn btn-primary">📜View plan</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <!-- Display message if no recipes are available -->
            <p>No plan has been created at this time.</p>
        {% endfor %}
    </div>

    <!-- Link to add a new recipe and to go back to the homepage -->
        <div class="button-container">
  <a href="{% url 'home' %}"><button>Back to Homepage</button></a>
  <a href="{% url 'plan_create' %}"><button>Add a new meal plan</button></a>
</div>
{% endblock %}
