{% extends 'base.html' %}

{% block content %}
    <!-- Heading for the list of recipes -->
    <h1>List of recipes</h1>

    <!-- Displaying all the recipes as cards in a grid -->
    <div class="row">
        {% for recipe in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- If recipe has an image, display it -->
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
                    {% endif %}

                    <!-- Displaying recipe name and description -->
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.name }}</h3>
                        <p class="card-text">{{ recipe.description }}</p>
                        <!-- Link to view recipe details -->
                        <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">📜View recipe</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <!-- Display message if no recipes are available -->
            <p>No recipe has been created at this time.</p>
        {% endfor %}
    </div>

    <!-- Link to add a new recipe and to go back to the homepage -->
        <div class="button-container">
  <a href="{% url 'home' %}"><button>Back to Homepage</button></a>
  <a href="{% url 'recipe_create' %}"><button>Add a new recipe</button></a>
</div>
{% endblock %}
